<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-nav-list>
      <div mat-subheader style="font-size: x-large;">Corona-Monitor</div>
      <mat-list-item *ngFor="let menus of sideMenuList">
        <mat-icon mat-list-icon>{{menus.icon}}</mat-icon>
        <a  mat-ripple routerLink="{{'../'+menus.component}}" routerLinkActive="active">{{menus.title}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

